@font-face {
  font-family: "This Sucks";
  src: url('../../_fonts/This Sucks.ttf') format('truetype');
}
@font-face {
  font-family: "GothicPixels";
  src: url('../../_fonts/GothicPixels.ttf') format('truetype');
}
@font-face {
  font-family: "jupiterc";
  src: url('../../_fonts/jupiterc.ttf') format('truetype');
}

* {
  margin:0;
  padding:0;
}

body {
  font-family: "This Sucks";
  background-color: #292F2E;
  color: #86DC27;
  min-height: 100%;
}

footer {
  padding-left: 2.3em;
}

ul {
  list-style: none;
}

a {
  color: #86DC27;
  text-decoration: none;
}

/*===== Grid Page Layout =====*/
.layout {
  display: grid;
  grid: "sidebar mainsection" 1fr / 1fr 9fr;
  gap: 1.5em;
  padding: 2em;
}

.sidebar { /* Menu Bar - Left */
  grid-area: "sidebar";
  height: fit-content;
  border:2px dotted #C91F37;
}

.mainsection {
  grid-area: "mainsection";
  height: fit-content;
  border: 2px dotted #C91F37;
}

/*===== Nav Menu =====*/
.menubox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  padding: 1em;
  width: 10em;
  height: 700px;
  min-height: auto;
}

.menubox:hover .menuitem {
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow: none;
}
.menubox:hover .menuitem:hover {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  /*box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);*/
}

.menuitem {
  background-color: #292F2E;
  border:1px solid #292F2E;
  /*box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);*/
  border-radius:3px;
  transition:.2s all; 
}

/*===== HEADER TEXT ANIMATION =====*/
.titlebox {
  position: relative;
  padding: 1rem;
  height: min-content;
  width: min-content;
}
.titlebox h1 {
  overflow: hidden;
    border-right: .15em solid rgb(51, 255, 0);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
      typing 2.5s steps(20, end) forwards,
      blink 1s infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: rgb(47, 235, 0)}
}

/*===== DEITY STATBLOCK =====*/
.maincontainer {
  display: block;
  height: 700px;
  padding: 1em;
}

.statblock {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 1em;
  padding: 0em;
  border: 2px dotted #C91F37;
  align-content: center;
}

.statblock li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "This Sucks";
  font-size: 2em;
  width: 100%;
  height: 5em;
  padding-left: 2em;

}

.statblock p {
  display: block;
  font-family: "GothicPixels";
  font-size: 1.3em;
}

/*===== FOOTER UL =====*/

.infolist li {
  padding-bottom: 1em;
}

/*===== CRT SCREEN EFFECT =====*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}